0.0.0.0:80 {
  proxy /repos backend:8080 {
    header_upstream path {path}
  }
  proxy / frontend:8000
  log / /var/log/access.log "{combined}"
}

0.0.0.0:443 {
  proxy /repos backend:8080 {
    header_upstream path {path}
  }
  proxy / frontend:8000
  log / /var/log/access.log "{combined}"
  tls /etc/letsencrypt/live/gh-card.dev/cert.pem /etc/letsencrypt/live/gh-card.dev/privkey.pem
}
